.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.operations-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	.filter-container {
		display: flex;
		> div:not(:last-child) {
			margin-right: 12px;
		}
	}
	.search-container {
		> input {
			background-color: var(--vscode-input-background);
		}
	}
}

.commits-container {
	flex: 1;
	user-select: none;

	.commit {
		display: flex;
		line-height: 22px;

		&.selected {
			background-color: var(--vscode-list-highlightForeground);
		}

		> span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.hash {
			width: 60px;
		}

		.message {
			flex: 1;
		}

		.author-name {
			width: 64px;
		}

		.commit-date {
			width: 140px;
		}
	}
}
