.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.operations-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 0;

	.filter-container {
		display: flex;
		align-items: center;

		> div:not(:last-child) {
			margin-right: 12px;
		}
	}
}

.commits-area {
	flex: 1;
	overflow: hidden;
}

.commit {
	display: flex;
	line-height: 22px;

	&.selected {
		background-color: var(--vscode-list-highlightForeground);
	}

	> span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.hash {
		width: 60px;
	}

	.message {
		flex: 1;
	}

	.author-name {
		width: 108px;
	}

	.commit-date {
		width: 144px;
	}
}
