$col-divider-width: 6px;
$col-padding-right: 8px;

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.commit-headers {
	display: flex;
	line-height: 24px;
	margin-top: 4px;

	.header-item {
		display: flex;
		align-items: center;
		padding-right: $col-padding-right;

		&:first-child {
			padding-left: $col-divider-width;
		}

		> .divider {
			cursor: col-resize;
			width: $col-divider-width;
			height: 12px;
			border-left: 1px solid var(--vscode-foreground);
		}

		> span {
			margin-right: 8px;
		}

		.ref-button {
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;

			.text {
				flex: 1;
				display: inline-block;
				width: auto;
				max-width: 240px;
				padding: 0 4px;
				white-space: nowrap;
			}
		}
	}
}

.commits-area {
	flex: 1;
	overflow: hidden;

	.commit {
		cursor: pointer;
		display: flex;
		line-height: 22px;
		height: 22px;

		> span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-left: $col-divider-width;
			padding-right: $col-padding-right;

			> span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-right: $col-padding-right;
			}

			&[data-prop="graph"] {
				position: relative;
				text-overflow: unset;
				-webkit-mask: linear-gradient(
					90deg,
					black calc(100% - 5px),
					transparent
				);

				> svg {
					overflow: visible;
				}

				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					width: 4px;
					height: 100%;
				}
			}

			&[data-prop="description"] {
				text-overflow: unset;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				> span:first-child {
					display: flex;
					align-items: center;

					> span:last-child {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				&:not(:hover) {
					vscode-button {
						display: none;
					}
				}
			}

			&[data-prop="hash"] {
				text-overflow: unset;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				&:not(:hover) {
					vscode-button {
						display: none;
					}
				}
			}
		}
	}
}
