$col-divider-width: 6px;
$col-padding-right: 8px;

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.commit-headers {
	display: flex;
	line-height: 24px;
	margin-top: 4px;

	.header-item {
		display: flex;
		align-items: center;
		padding-right: $col-padding-right;

		&:first-child {
			padding-left: $col-divider-width;
		}

		> .divider {
			cursor: col-resize;
			width: $col-divider-width;
			height: 12px;
			border-left: 1px solid var(--vscode-foreground);
		}

		> span {
			flex: 1;
			margin-right: 8px;
		}
	}
}

.commits-area {
	flex: 1;
	overflow: hidden;

	.commit {
		cursor: pointer;
		display: flex;
		line-height: 22px;

		> span {
			&:first-child {
				padding-left: $col-divider-width;
			}

			&[data-prop="graph"] {
				text-overflow: unset;
			}

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: $col-padding-right;
		}
	}
}
