.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.commit-headers {
	display: flex;
	line-height: 24px;
	margin-top: 4px;

	.header-item {
		display: flex;
		align-items: center;

		&:not(:first-child)::before {
			content: "";
			display: block;
			width: 6px;
			height: 12px;
			border-left: 1px solid var(--vscode-foreground);
		}

		> span {
			margin-right: 8px;
		}
	}
}

.commits-area {
	flex: 1;
	overflow: hidden;

	.commit {
		display: flex;
		line-height: 22px;

		&.selected {
			background-color: var(--vscode-list-highlightForeground);
		}

		> span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.graph {
	width: 70px;
}

.hash {
	width: 90px;
}

.message {
	flex: 1;
}

.author-name {
	width: 108px;
}

.commit-date {
	width: 144px;
}
